#divGauche {
	float:left;
	width: 300px;
	border:1px solid black;
	padding:2px;
}

#divCentre {
	border:1px solid black;
	padding:2px;
	margin-left: 310px;
    margin-right: 60px;
}

#divDroite {
	float: right;
	width: 50px;
	border:1px solid black;
	padding:2px;
}